.ytd-player {
    display: block;
    overflow: hidden;
}

.ytd-setting {
    position: absolute;
    height: 100%;
    width: 100%;
}

video {
    max-height: 100%;
    max-width: 100%;
    object-fit: cover;
    cursor: none;
    outline: 0;
}

.html5-video-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}